*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: #d9dbd5;
    display: flex;
    justify-content: center;
    align-items: center;

    & .app{
        width: 80%;
        display: flex;

        
        & .app-right{
            display: flex;
            flex-direction: column;
            width: calc((100% / 12) * 8);
        }
        
        & .app-left{
            display: flex;
            flex-direction: column;
            width: calc((100% / 12) * 4);
        }
    }

}

/* ### DEBUG SECTION ### */

.debug *{
    border: 1px dashed grey;
}

.debug .container{
    width: 1440px;
    height: 696px;
}

& .debug .app{
    height: 95%;
}

.debug .app-left{
    height: 100%;
}
.debug .myself{
    height: 85px;
    background-color: #ff00ffa2;
}
.debug .notification{
    height: 15%;
    background-color: #0000ffa2;
}
.debug .search{
    height: 10%;
    background-color: #4bcecaa2;
}
.debug .chat-list{
    height: 62%;
    background-color: #99cd32a2;
}
.debug .user{
    height: 20%;
}



.debug .app-right{
    background-color: #0cd141bb;
    height: 100%;
}
.debug .selected-user{
    background-color: #4bcecaa2;
    height: 85px;
}
.debug .chat{
    height: calc(100% - 170px);
    background-color: #99cd32a2;
}
.debug .baloons{
    height: 65%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}
.debug .baloon{
    background-color: grey;
    height: 45%;
    width: 60%;
}
.debug .baloon.input{
    align-self: flex-end;
}
.debug .type-section{
    height: 85px;
    background-color: #ff00ffa2;
}

